<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527222520341-1n2tbnn35uk32kcrpochfqe32684rmeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527222520341-1n2tbnn35uk32kcrpochfqe32684rmeh</string>
	<key>API_KEY</key>
	<string>AIzaSyCru6mgQMD9tcgSwYuiSq1lGVrDz8swcqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>527222520341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatagain</string>
	<key>PROJECT_ID</key>
	<string>eatagain-2e12b</string>
	<key>STORAGE_BUCKET</key>
	<string>eatagain-2e12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527222520341:ios:b23306677a852a502c2c1c</string>
</dict>
</plist>